body{
    background-color: bisque;
    text-align: center;
}

h1{
    font-style: italic;
    text-decoration: underline;
}

.bale {
    width: 40%;
}

header {
    padding: 1rem;
    margin: 0;
    text-align: left;
    background-color: rgb(58, 47, 35);
}

a {
    color: white;
}