body{
    background-color: lightskyblue;
    text-align: center;
}

h1{
    text-decoration: underline;
    font-style: italic;
}

.hiphop {
    width: 50%;
}

header {
    padding: 1rem;
    margin: 0;
    text-align: left;
    background-color: rgb(15, 33, 44);
}

a {
    color: white;
}