body{
    background-color: rgb(230,200,250);
    text-align: center;
}

h1{
    font-style: italic;
    color: black;
}

ul{
    text-align: left;
}

.imagem {
    width: 30%;
}

header {
    background-color: rgb(99, 77, 114);
}

a {
    color: aliceblue;
}